<!-- <div>
  localDbpages/Total Pages: {{localDbpages}}/{{pages.length}}
</div>
<table class="">
  <thead>
    <tr>
      <th>PageId</th>
      <th>PageNumber</th>
      <th>mediaType</th>
      <th>Added To LocalStorage</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of pages; let i = index;">
      <td>{{item._id}}</td>
      <td>{{item.pageNumber}}</td>
      <td>{{item.mediaType}}</td>
      <td>
        <ng-container *ngIf="checkPage(item._id)"><span>Added</span></ng-container>
        not added
      </td>
    </tr>
  </tbody>
</table> -->

<!-- <table class="">
  <thead>
    <tr>
      <th>Id</th>
      <th>Value</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of localDbRec; let i = index;">
      <td>{{item.id}}</td>
      <td>{{item.value | json}}</td>
      <td></td>
    </tr>
  </tbody>
</table> -->
