<div>
  <input type="text" class="dbId" [(ngModel)]="dbId">
  <button (click)="generateDbId(); FindPgDb.value=dbId; FindVaDb.value = dbId">Generate Id</button>
</div>

<div>
  <button (click)="destroyDatabase(dbId);">Destroy Database</button>
</div>

<div>
  {{dbId}} <br>  <button (click)="setTokens(dbId)">Add Tokens</button>
  <button (click)="setPages(dbId);">Add Pages</button>
  <button (click)="getAllDocIdsAndRevs();">Get All Documents</button>
</div>

<div>
  <input type="text" class="dbId" #FindPgDb value='dbname1'>
  <input type="number" value="3" #pageNumber>
  <button (click)="findDocsByPageNumber(FindPgDb.value, pageNumber.value);">Find Docs By Page Number</button>
</div>

<div>
  <input type="text" class="dbId" #FindVaDb value='dbname1'>
  <input type="text" value="Exhibit" #PageValue>
  <button (click)="findDocsByPageValue(FindVaDb.value, PageValue.value);">Find Docs By Value</button>
</div>

<button (click)="startCounter()">start</button>
<button (click)="stopCounter()">stop</button>
<button (click)="clearCounter()">clear</button>
<div> counter: {{counter}} </div>


<div><button (click)="addsingleImageDoc()">Add single image record</button></div>

<div><button (click)="databaseSize()">database size</button></div>

<div><button (click)="usage()">usage</button></div>

<!-- <div>
  <button (click)="addDoc()">add job</button>
  <button (click)="getDoc();">Get a Job</button>
  <button (click)="updateJob();">Update a Job</button>
  <button (click)="deleteJob();">Delete a Job</button>
  <button (click)="compactDB();">Compact</button>
</div> -->
